.hero{
    width: 100%;
    height: 100%;
    padding: 13.125rem 0;
    display: flex;
    background-color: rgb(82 82 82);

    .hero__content{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        color: var(--white-color);
        font-family: var(--Josefin-font);

        .hero__bold-text{
            font-size: 4.5rem;
            line-height: 1;
            margin-bottom: 0.5rem;
        }
    
        .hero__semibold-text{
            font-size: 2.25rem;
            line-height: 1;
            margin-bottom: 2rem;
        }
    
        .p-text{
            margin-bottom: 2rem;
        }


        .btn-link{
            background: var(--blue-color);

            &:hover{
                background: var(--dark-blue-color);
              }
        }
    }
}