@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&family=Lobster&display=swap');

:root {
  --Josefin-font: 'Josefin Sans', sans-serif;
  --Lobster-font: 'Lobster', cursive;

  --black-color: #000000;
  --white-color: #ffffff;
  --text-color: #363333;
  --orange-color: rgb(180 83 9);
  --dark-orange-color: rgb(146 64 14);
  --blue-color: rgb(21 94 117);
  --dark-blue-color: rgb(22 78 99);
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

.section{
  width: 100%;
  height: auto;
  display: flex;
  padding: 6.25rem 0;
}

.container{
  max-width: 1092px;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.p-text{
  font-size: 1.125rem;
  line-height: 1.25;
}


.btn-link{
  width: auto;
  height: auto;
  display: inline-block;
  padding: 0.875rem 1.625rem;
  border-radius: 0.25rem;
}

.btn-link-text{
  color: var(--white-color);
  font-size: 1.125rem;
  font-family: var(--Josefin-font);
  font-style: normal;
  font-weight: 700;
}